* {
    margin: 0;
    font-family: 'Open Sans';
}

img {
    width: 100%;
}

ul {
    list-style: none;
    padding-inline-start: 0;
}

a {
    color: #2F2E41;
    text-decoration: none;
}

p {
    color: #717082;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

h1, h2, h3 {
    font-family: 'Playfair Display';
    color: #2F2E41;
    font-weight: 700;
}

h1 {
    font-size: 86px;
    line-height: 88px;
}

h2 {
    font-size: 60px;
    line-height: 64px;
}

h3 {
    color: white;
    font-size: 50px;
    line-height: 56px;
}

h4 {
    font-size: 40px;
    line-height: 46px;
}

.body-title {
    font-weight: 600;
    color: #2F2E41;
}

.container {
    margin: 0 auto;
    width: 1280px;
    padding-left: 80px;
    padding-right: 80px;
}

.medium-container{
    margin: 0 auto;
    width: 1180px;
    padding-left: 130px;
    padding-right: 130px;
}

.small-container{
    margin: 0 auto;
    width: 900px;
    padding-left: 270px;
    padding-right: 270px;
}

.row {
    display: flex;
}

.column {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}


.space-between {
    justify-content: space-between;
}


.align-center {
    align-items: center;
}

.align-start {
    align-items: start;
}


.gap-50 {
    gap: 50px;
}

.gap-36 {
    gap: 36px;
}

.gap-30 {
    gap: 30px;
}
.gap-24 {
    gap: 24px;
}

.gap-16 {
    gap: 16px;
}

.gap-14 {
    gap: 14px;
}

.gap-12 {
    gap: 12px;
}

.h3 { 
    font-size: 50px;
    font-weight: 700;
}

.active-tab {
    color: #2F2E41;
}

.active-tab::after{
    content: "";
    display: block;
    border: 2px solid #9E99FF   
}

.btn {
    min-height: 51px;
    padding: 16px 30px;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
}

.btn-large {
    min-height: 54px;
    padding: 16px 47px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

.btn-primary {
    background: #6C63FF;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    color: white;
}
.btn-primary:hover {
    background: transparent;
    color: #6C63FF;
}
.btn:active {
    background: #5952D1;
    border-color: #5952D1;
    color: white;
}

.btn-transparent {
    background: transparent;
    border: 1px solid #6C63FF;
    border-radius: 2px;
    color: #6C63FF;
}
.btn-transparent:hover {
    background: #6C63FF;
    color: white;
}
.btn-transparent:active {
    background: #5952D1;
    color: white;
}

.btn-secondary {
    background: white;
    border: 1px solid white;
    border-radius: 2px;
    color: #6C63FF;
}
.btn-secondary:hover {
    background: #C5C2FF;
    border-color: #C5C2FF;
    color: #5952D1;
}
.btn-secondary:active {
    background: #9E99FF;
    border-color: #9E99FF;
    color: white;
}


.card {
    width: 363px;
    height: min-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background: rgba(236, 235, 255, 0.3);
    border-radius: 2px;
    padding: 46px 0px;
}

.card-large {
    background: #6C63FF;
    padding: 70px 0px;
}

.card .acent {
    color: #2F2E41;
    font-weight: 400;
}

.card h3 {
    color: #2F2E41;
    font-weight: 700;
    font-weight: bold;
    

}

.card-large p {
    color: rgba(255, 255, 255, 0.8);
}

.card-large .acent {
    color: white;
}


.link {
    font-size: 18px;
    font-weight: 600;
}

.link::after {
    content: "";
    display: block;
    width: 110%;
    height: 10px;
    background: rgba(197, 194, 255, 0.5);
    margin-top: -11px;
    margin-left: -5%;
}
.link:hover::after {
    background: rgba(197, 194, 255, 0.75);
}





.tablet {
    display: none;
}

.mobile {
    display: none;
}

.desktop {
    display: block;
}

nav a {
    color: #9893A3;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
}

#logo-navbar {
    width: 78px;
}


#features {
    margin: 75px auto 47px auto ;
}

#features p {
    font-size: 20px;
    line-height: 34px;
}



#partners {
    margin-bottom: 220px;
}


#about {
    margin-bottom: 220px;
}
#about p {
    font-size: 20px;
    line-height: 34px;
    color: #9893A3;
}
#about > div {
    gap: 180px;
}



#pricing {
    margin-bottom: 178px;
}

#pricing .row:first-of-type {
    justify-content: center;
    margin-bottom: 90px;
}



#banner {
    margin-bottom: 90px;
    height: 296px;
}

#banner div {
    height: inherit;
    padding: 0px 84px;
    background-color: #2F2E41;
    gap: 200px;
}

#banner h3 {
    width: 346px;
}

#banner .btn-large {
    padding: 16px 56.5px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    height: 560px;
    width: 100%;
    background: rgba(236, 235, 255, 0.6);
    justify-content: end;
    padding-bottom: 40px;
}
.footer-container .small-container {
    margin-bottom: 77px;
}

#contact li {
    margin-bottom: 8px;
}

#contact a {
    color: #717082;
}

#contact .body-title {
    margin-bottom: 20px;
}

#logo-footer {
    width: 60px;
}

#social a {
    background: white;
    display: flex;
    width: 32px;
    height: 32px;
    border-radius: 1px;
    align-items: center;
    justify-content: center;
}

#copyright {
    color: #9893A3;
    font-size: 12px;
}



@media only screen and (max-width: 1000px) {
    .container,
    .medium-container,
    .small-container{
        padding-left: 40px;
        padding-right: 40px;
        width: calc(100% - 80px);
    }

    .desktop {
        display: none;
    }
    .tablet {
        display: block;
    }

    
    
    #navbar {
        margin-top: 40px;
    }

    #features .row {
        flex-direction: column;
    }
    #features {
        margin: 55px auto 106px auto ;
    }

    #partners,
    #about,
    #creative-solutions,
    #profesional-team, 
    #pricing,
    #blog {
        margin-bottom: 140px;
    }

    #about .row {
        flex-direction: column-reverse;
        gap: 30px;
    }

    #pricing .row:first-of-type {
        justify-content: start;
    }
    #pricing .row:last-of-type {
        flex-direction: column;
        gap: 45px;
    }
    #pricing .card {
        width: 100%;
    }

    #banner {
        padding: 0;
        margin: 0;
        width: 100%;
    }
    #banner button{
        word-wrap: none;
    }
    #banner div {
        padding: 0px 63px;
        gap: 100px;
    }


    .footer-container {
        height: auto;
        padding-bottom: 37px;
        width: 100%;
    }
    .footer-container .small-container {
        margin-bottom: 58;
        padding-top: 76px;
    }
}



@media only screen and (max-width: 600px) {
    .container,
    .medium-container,
    .small-container{
        padding-left: 20px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }

    h1 {
        font-size: 46px;
        line-height: 50px;
    }
    h2 {
        font-size: 34px;
        line-height: 40px;
    }

    
    .tablet {
        display: none;
    }

    .mobile {
        display: block;
    }



    #navbar {
        margin-top: 20px;
    }
    #features {
        margin: 40px auto 80px auto ;
    }


    #partners .row {
        flex-wrap: wrap;
        gap: 45px;
        justify-content: center;
    }
    
    #partners,
    #about,
    #creative-solutions,
    #profesional-team, 
    #pricing,
    #blog {
        margin-bottom: 100px;
    }

    #pricing .row:first-of-type {
        margin-bottom: 40px;
    }
    #pricing .row:last-of-type {
        gap: 24px;
    }

    #banner {
        height: auto;
    }
    #banner .row {
        flex-direction: column;
        gap: 50px;
        justify-content: center;
        padding: 70px 0px;
        height: auto;
    }

    
    .footer-container {
        padding-bottom: 30px;
    }
    .footer-container .small-container {
        margin-bottom: 66px;
        padding-top: 50px;
    }
    .footer-container .small-container > .row:first-of-type {
        flex-wrap: wrap;
        row-gap: 60px;
        column-gap: 100px;
        padding-right: 30%;
    }
}


@media only screen and (max-width: 480px) {    
    .footer-container .small-container > .row:first-of-type {
        padding-right: 15%;
    }
}

@media only screen and (max-width: 400px) {    
    .footer-container .small-container > .row:first-of-type {
        padding-right: 0;
    }
}